@model Model.EntityFramework.GROUPPRODUCT

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var db = new Model.EntityFramework.ShopOnlineDbContext();
}

@section jsFooter{
    <script>
        $('#btnSelectImage').on('click', function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url.slice(url.lastIndexOf("/") + 1));
            };
            finder.popup();
        })

        var editor = CKEDITOR.replace("txtContent", {
            customConfig: '/Assets/Admin/SbAdmin/js/Plugin/ckeditor/config.js',
        });
    </script>
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">SỬA THÔNG TIN NHÓM SẢN PHẨM</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    THÔNG TIN CHI TIẾT
                </div>
                <div class="panel-body">
                    <div class="row" style="width:70%; margin-left:30px">
                        @using (Html.BeginForm("Edit", "AdminGroupProduct", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.GROUP_PRODUCT_ID)

                                <div class="form-group input-group">
                                    <span class="input-group-addon">Name</span>
                                    @Html.TextBoxFor(model => model.NAME, new { @class = "form-control", @autofocus = "autofocus", @type = "text", @placeholder = "Nhập tên nhóm sản phẩm" })
                                    @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group input-group">
                                    <span class="input-group-addon">ParentID</span>
                                    @Html.DropDownListFor(model => model.PARENTID, db.GROUPPRODUCTs.Select(x => new SelectListItem { Text = x.NAME, Value = x.GROUP_PRODUCT_ID.ToString() }), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PARENTID, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group input-group">
                                    <span class="input-group-addon">MetaTitle</span>
                                    @Html.TextBoxFor(model => model.MetaTitle, new { @class = "form-control", @type = "text", @placeholder = "Nhập thẻ meta title" })
                                    @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group input-group">
                                    <span class="input-group-addon">Detail</span>
                                    @Html.TextAreaFor(model => model.DETAIL, new { @class = "form-control", @type = "text", @placeholder = "Nhập thông tin mô tả", @id = "txtContent" })
                                    @Html.ValidationMessageFor(model => model.DETAIL, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group input-group">
                                    <span class="input-group-addon">Image</span>
                                    @Html.TextBoxFor(model => model.IMAGES, new { @class = "form-control", @id = "txtImage" })
                                    <button type="button" class="btn btn-outline btn-info" id="btnSelectImage">Upload</button>
                                    @Html.ValidationMessageFor(model => model.IMAGES, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            @Html.CheckBoxFor(model => model.STATUS, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.STATUS, "", new { @class = "text-danger" })
                                            Status
                                        </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        @Html.ActionLink("Back to List", "index", "AdminGroupProduct", new { @class = "btn btn-primary" })
                                        <input type="submit" value="Save" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /#page-wrapper -->
