@{
    ViewBag.Title = "Chitiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Model.EntityFramework.NEWS

<section id="aa-catg-head-banner">
    <img src="~/Image/Slide/fashion-header-bg-8.jpg" alt="fashion img">
    <div class="aa-catg-head-banner-area">
        <div class="container">
            <div class="aa-catg-head-banner-content">
                <h2>News-Details</h2>
                <ol class="breadcrumb">
                    <li><a href="@Url.Action("index","home")">Home</a></li>
                    <li class="active">News-Details</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- / catg header banner section -->
<!-- Blog Archive -->
<section id="aa-blog-archive">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-blog-archive-area">
                    <div class="row">
                        <div class="col-md-9">
                            <!-- Blog details -->
                            <div class="aa-blog-content aa-blog-details">
                                <article class="aa-blog-content-single">
                                    <h2><a href="#">@Model.NEW_TITLE</a></h2>
                                    <div class="aa-article-bottom">
                                        <div class="aa-post-author">
                                            Posted By <a href="#">@Model.CREATEBY</a>
                                        </div>
                                        <div class="aa-post-date">
                                            @Model.CREATEDAY
                                        </div>
                                    </div>
                                    <figure class="aa-blog-img">
                                        <a href="#"><img src="~/Image/HinhSanPham/images/News/@Model.IMAGE"></a>
                                    </figure>
                                    <p>@Html.Raw(@Model.DETAIL)</p>

                                    <div class="blog-single-bottom">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-6 col-xs-12">
                                                <div class="blog-single-tag">
                                                    <span>Tags:</span>
                                                    <a href="@Url.Action("ListTag","News",new { id= Model.NEW_ID, tagname=Model.TAG})">@Model.TAG</a>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <div class="blog-single-social">
                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </article>
                                <!-- blog navigation -->
                                <div class="aa-blog-navigation">
                                    <a class="aa-blog-prev" href="#"><span class="fa fa-arrow-left"></span>Prev Post</a>
                                    <a class="aa-blog-next" href="#">Next Post<span class="fa fa-arrow-right"></span></a>
                                </div>
                                <!-- Blog Comment threats -->
                                <div class="aa-blog-comment-threat">
                                    <h2>Your comment, Our treasure</h2>
                                    <div class="fb-comments" data-href="https://localhost:48800/Product/ProductDetail/@Model.NEW_ID" data-width="100%" data-colorscheme="light" data-numposts="5"></div>
                                </div>
                            </div>
                        </div>

                        <!-- blog sidebar -->
                        <div class="col-md-3">
                            <aside class="aa-blog-sidebar">
                                <div class="aa-sidebar-widget">
                                    <h3>Tags</h3>
                                    @{Html.RenderAction("NewNews2", "News");}
                                </div>
                                <div class="aa-sidebar-widget">
                                    <h3>Tin Tức</h3>
                                    <div class="aa-recently-views">
                                        <ul>
                                            @{Html.RenderAction("NewNews1", "News");}
                                        </ul>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Blog Archive -->
